# Ignore Python environments globally
**/venv/
**/__pycache__/
**/*.py[cod]

# Node-related
**/node_modules/
**/.next/
**/.turbo/
**/dist/
**/.env*

# System/Editor
.DS_Store
.vscode/
.idea/

# Log files
*.log

# Docker
**/Dockerfile
**/.dockerignore

# dotenv
**/.env
**/.env.*
